
@mixin circle($width,$height,$color) {
    width: $width;
    
    height: $height;
    
    background: $color;
    

    border-radius: 50%;
}

$font-stack :Helvetica, sans-serif;
$primary-color : #ff0000;


body h1 {
    font : 100% $font-stack;
    color : $primary-color;
}

.circle-red {

   @include circle (350px,350px,red);
}
.circle-green {

   @include circle (200px,200px,green);
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
  }
  
  .gray {
    @include prefix(filter, grayscale(10%), moz webkit);
  }


//through is like 1<=4
@for $i from 1 through 4 { // same for if we replaced through with to but it wont take the last p4 cuz its like 1<4
  .p#{$i} {
    padding-left : $i * 10px;
  }
}

// for the next day : @each , @while directives and mixins directives and functions directives 
